
/* 
** Sticky footer
** on medium bp's and up only
*/

@media #{$medium-up} { 
	.page-wrap {
	  min-height: 100%;
	  /* equal to footer height */
	  margin-bottom: -$footer-hight; 
	}
	.page-wrap:after {
	  content: "";
	  display: block;
	}
	.site-footer, .page-wrap:after {
	  height: $footer-hight; 
	}
}